*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input,button{
  appearance: none;
  background: none;
  
  outline: none;
}



.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e83f1;
}

form{
  display: block;
  position: relative;
}

form:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-color: rgb(109, 163, 238);
  border-radius: 8px;
  
}

.form-inner{
  position: relative;
  display: block;
  background-color: azure;
  border-radius: 8px;
  
  padding: 30px;
  z-index: 2;
  
}

.form-inner h2{
  color: #53565A;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
 
}

.form-inner .form-group label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label{
  color: #FE4880;
}

.form-inner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color:Azure;
  border-radius: 8px;
  border-width: 1.5px;
  border-color: rgb(80, 77, 77);
  
  
}

/*form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(233, 225, 225, 0.2);

}*/

.form-inner input[type="submit"]{
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;  
  border: none;
  background-color: #165eec;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  
}